.card-tracking {
  margin: auto;
  width: 60%;
  animation-delay: 0.5s;
}
.form-tracking{
  padding-top: 5%;
  width: 100%;
  text-align: center;
}
.example-full-width {
  width: 70%;
}
.img-logo-tracking{
  animation-delay: 1.5s;
}

.container-tracking{
  animation-delay: 2s;
}

.table_show{
  margin: auto;
  margin-top: 2%
}


@media (max-width: 	970px) {
  .example-full-width {
    width: 50%;
  }
  .img-logo-tracking{
    width: 90%;
  }
}
