<!-- <div class="container_banner">
    <ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()" (onMove)="onmoveFn($event)">
      <ngx-item class = "ng_item" NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
        <div class="bannerStyle" [style.background]="'url(' + tile + ')'">
          <h1>{{i}}</h1>
        </div>
      </ngx-item>
      <button NgxCarouselPrev class="leftRs">&lt;</button>
      <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
  </div> -->

<header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">

            <!-- Navbar brand -->

            <img class="icon_logo" src="../../assets/images/safa_burned.png" />


            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" (click)="smoothScroll('intro')">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="smoothScroll('best-features')">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="smoothScroll('examples')">Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="smoothScroll('gallery')">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="smoothScroll('contact')">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/admin']">Admin</a>
                    </li>
                </ul>
                <!-- Links -->

                <!-- Social Icon  -->

                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link phone">
                            <i class="fa fa-phone"></i>
                            0938125527
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/ngdat.nguyen">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="skype:live:377401dc42f846d7?chat&topic=this+works">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->

        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div id="intro" class="view hm-black-strong">

        <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">

            <div class="no-wrap row d-flex justify-content-center">

                <div class="col-md-6 text-center" style="margin-top: 6%">

                    <!-- Heading -->
                    <h2 class="display-3 font-bold white-text mb-4">SAFA EXPRESS</h2>

                    <!-- Divider -->

                    <!-- Description -->
                    <!-- <div class = "col-md-12"> -->
                    <div class="col-md-4 justify-content-center tracking-container">
                        <!-- <mat-form-field> -->
                        <!-- <h4 class="col-md-6 white-text mb-4">Tracking</h4> -->
                        <input class="input-set" type="text" placeholder="Tracking Number" [(ngModel)]="model.bill" />
                        <button *ngIf="model.bill" matSuffix mat-icon-button aria-label="Clear" (click)="model.bill=''">
                            <mat-icon style="color: rgb(3, 3, 3);">close</mat-icon>
                        </button>
                        <!-- </div> -->
                        <!-- <div class="col-md-5"> -->

                        <!-- </div> -->
                        <!-- </mat-form-field> -->
                        <button mat-raised-button class="button-tracking" (click)="onSubmit()">
                            Search
                            <mat-icon style="color: rgb(5, 0, 0);">send</mat-icon>
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!--/.Mask-->

</header>
<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Best Features-->
        <section id="best-features" class="text-center">

            <!-- Heading -->
            <h2 class="mb-4 font-weight-bold">Best Service</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="grey-text">
                        Safety, quality, professionalism.
                    </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-5">
                    <ngx-carousel class="banner" [inputs]="carouselBanner2">
                        <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems2; let i = index;">
                            <div class="bannerStyle" [style.background]="'url(' + tile + ')'">
                    
                            </div>
                        </ngx-item>
                        <button NgxCarouselPrev class="leftRs">&lt;</button>
                        <button NgxCarouselNext class="rightRs">&gt;</button>
                    </ngx-carousel>
                </div>
                <div class="col-md-6 mb-5">
                    <h4 class="my-4 font-weight-bold">Air Express Service</h4>
                    <div class="text-container">
                        <table>
                            <tr>
                                <p class="grey-text">Pick up at anytime and deliver worldwide.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Express to destination by fastest way with only 1 or 2 days transit.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Deliver to the doorway with personal abc touch.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Able to track and trace all the steps on the way and POD online.</p>
                            </tr>
                        </table>
                    </div>
            </div>
    </div>
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-1">
            <img class="img-service" src="../../assets/images/united-airlines-1.jpg">
            <h4 class="my-4 font-weight-bold">Air Freight</h4>
            <div class="text-container">
                <table>
                    <tr>
                        <p class="grey-text">If you want quickly to move and do not pay courier cost, Skydart Airfreight would be the answer.
                            We move export airfreight from Viet Nam to every destination in the world and we can get your
                            cargo from any airport to any airport worldwide.</p>
                    </tr>
                    <!-- <tr>
                                <p class="grey-text">Freight handled by most professional style as ever.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Offering same rate with Airlines.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Reasonable handling cost.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Space available at anytime.</p>
                            </tr>
                            <tr>
                                <p class="grey-text">Be always your reliable partner.</p>
                            </tr> -->
                </table>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-1">
            <img class="img-service" src="../../assets/images/Freight_Services_shutterstock_63760993.jpg">
            <h4 class="my-4 font-weight-bold">Customs Brokerage</h4>
            <div class="text-container">
                <table>
                    <tr>
                        <p class="grey-text">Be an important process of door to door service providers. Thank to the experiences that we gathered
                            and the ability of changing situation, all your legal shipments would be immediately expedited
                            even the complication goes anywhere</p>
                    </tr>

                </table>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-1">
            <img class="img-service" src="../../assets/images/4ca1290af5d28bc875cc706b0a71c41c.jpg">
            <h4 class="my-4 font-weight-bold">Sea Freight</h4>
            <div class="text-container">
                <table>
                    <tr>
                        <p class="grey-text">Ocean Import and Export service.</p>
                    </tr>
                    <tr>
                        <p class="grey-text">Provide less than container load and full container load services .</p>
                    </tr>
                    <tr>
                        <p class="grey-text">Strong network of agent.</p>
                    </tr>
                </table>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    </section>
    <!--Section: Best Features-->

    <hr class="my-5">

    <!--Section: Examples-->
    <section id="examples" class="text-center">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">Tracking</h2>
        <form class="form-tracking" (ngSubmit)="onSubmit()" #trackingForm="ngForm">
            <mat-card class="card-tracking mat-elevation-z8">
                <img class="img-logo-tracking" src="../../assets/images/safa.png" />
                <div class="container-tracking">
                    <input type="number" placeholder="Tracking Number" id="tracking" required [(ngModel)]="model.bill" name="tracking" #tracking="ngModel">
                    <button class="btn btn-primary" color="primary" type="submit">Check
                    </button>
                </div>
            </mat-card>
        </form>
        <div *ngIf="isSubmitting" class="example-container">
            - Tóm Tắt Kết Quả .
            <table class="table table-head mat-elevation-z8">
                <thead class="blue-grey lighten-4">
                    <tr class="tableTr">
                        <th class="th_show">Vận Đơn : {{trackingModel.bill_safa}}
                            <br>
                            <label *ngIf="checkExistDeleveryDate()" class="finish-text">Hoàn Tất Thông Quan</label>
                        </th>
                        <th class="th_show">{{trackingModel.delivery_date | date :'EEEE-dd-MMM-yyyy'}}
                            <br> Khu Vực Dịch Vụ Xuất Xứ :
                            <br> - VietNam
                            <br> Khu Vực Dịch Vụ Điểm Đến :
                            <br> - {{trackingModel.to}} </th>
                        <th class="th_show">Thời Gian Phát Hàng Dự Kiến :
                            <br> {{trackingModel.time_exspect | date :'EEEE-dd-MMM-yyyy'}} </th>
                    </tr>
                </thead>
            </table>
            <table *ngIf="checkExistDeleveryDate()" class="table mat-elevation-z8">
                <thead class="blue-grey lighten-4">
                    <tr class="tableTr">
                        <th class="th_show">#</th>
                        <th class="th_show">{{trackingModel.delivery_date | date :'EEEE-dd-MMM-yyyy'}}</th>
                        <th class="th_show">Địa Điểm</th>
                        <th class="th_show">Thời Gian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="checkExistTracking()">
                        <td scope="row">5</td>
                        <td>Đã Phát
                            <a class="linka" (click)="redirectToDHL()" target="_blank">Check</a>
                        </td>
                        <td>{{trackingModel.to}}</td>
                        <td>23:23</td>
                    </tr>
                </tbody>
            </table>
            <table class="table mat-elevation-z8">
                <thead class="blue-grey lighten-4">
                    <tr>
                        <th class="th_show">#</th>
                        <th class="th_show">{{trackingModel.created | date :'EEEE-dd-MMM-yyyy'}}</th>
                        <th class="th_show">Địa Điểm</th>
                        <th class="th_show">Thời Gian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="checkExistTracking()">
                        <td scope="row">4</td>
                        <td>{{trackingModel.cau4}}
                            <br>
                            <a class="linka" (click)="redirectToDHL()" target="_blank">Check</a>
                        </td>
                        <td>VietNam-VietNam</td>
                        <td>{{trackingModel.time_cau4}}</td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>{{trackingModel.cau3}}</td>
                        <td>VietNam-VietNam</td>
                        <td>{{trackingModel.time_cau3}}</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>{{trackingModel.cau2}}</td>
                        <td>VietNam-VietNam</td>
                        <td>{{trackingModel.time_cau2}}</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td>{{trackingModel.cau1}}</td>
                        <td>VietNam-VietNam</td>
                        <td>{{trackingModel.time_cau1}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </section>
    <!--Section: Examples-->

    <hr class="my-5">

    <!--Section: Gallery-->
    <section id="gallery">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center">Country Support</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6">

                <!--Carousel Wrapper-->
                <div style="height: 350px;">
                    <ngx-carousel class="banner" [inputs]="carouselBanner" (onMove)="onMove($event)">
                        <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
                            <div class="bannerStyle" [style.background]="'url(' + tile + ')'">

                            </div>
                        </ngx-item>
                        <button NgxCarouselPrev class="leftRs">&lt;</button>
                        <button NgxCarouselNext class="rightRs">&gt;</button>
                    </ngx-carousel>
                </div>
                <!--/.Carousel Wrapper-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div *ngIf="numberSlide == 0" id="contentSlide" class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1">
                        <i class="fa fa-heart"></i>
                        <strong> Lifestyle {{numberSlide}}</strong>
                    </h6>
                </a>
                <h4 class="mb-3">
                    <strong>VietNam</strong>
                </h4>
                <p></p>
                <table>
                    <tr>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/00ho-chi-minh.jpg);">
                            <!-- <img style="width: 100%" src="../../assets/images/00ho-chi-minh.jpg" /> -->
                        </td>
                        <td style="width: 20%;">
                            <img style="width: 50%" src="../../assets/images/c7cc7bcf0a40c73bb658690e45aef7ef.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">
                            <img style="width: 50%" src="../../assets/images/2011-11-17.11.57.35-haiphong1.jpg" />
                        </td>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/../../assets/images/34192549076_5232b92601_o.jpg)">
                            <!-- <img style="width: 100%" src="../../assets/images/34192549076_5232b92601_o.jpg" /> -->

                        </td>
                    </tr>
                </table>
                <p></p>
            </div>
            <!--Grid column-->
            <div *ngIf="numberSlide == 1" id="contentSlide" class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1">
                        <i class="fa fa-heart"></i>
                        <strong> Lifestyle {{numberSlide}}</strong>
                    </h6>
                </a>
                <h4 class="mb-3">
                    <strong>USA</strong>
                </h4>
                <p></p>
                <table>
                    <tr>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/maxresdefault.jpg);">
                            <!-- <img style="width: 100%" src="../../assets/images/maxresdefault.jpg" /> -->
                        </td>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/los_angeles___city_of_angels_wallpaper_by_eduard2009-db6v5x3.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/maxresdefault(1).jpg" />
                        </td>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/../../assets/images/which_california_city_should_you_live_in_featured.jpg)">
                            <!-- <img style="width: 100%" src="../../assets/images/which_california_city_should_you_live_in_featured.jpg" /> -->

                        </td>
                    </tr>
                </table>
                <p></p>

            </div>
            <div *ngIf="numberSlide == 2" id="contentSlide" class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1">
                        <i class="fa fa-heart"></i>
                        <strong> Lifestyle {{numberSlide}}</strong>
                    </h6>
                </a>
                <h4 class="mb-3">
                    <strong>Singapore</strong>
                </h4>
                <p></p>
                <table>
                    <tr>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/maxresdefault.jpg);">
                            <!-- <img style="width: 100%" src="../../assets/images/maxresdefault.jpg" /> -->
                        </td>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/los_angeles___city_of_angels_wallpaper_by_eduard2009-db6v5x3.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/maxresdefault(1).jpg" />
                        </td>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/../../assets/images/which_california_city_should_you_live_in_featured.jpg)">
                            <!-- <img style="width: 100%" src="../../assets/images/which_california_city_should_you_live_in_featured.jpg" /> -->

                        </td>
                    </tr>
                </table>
                <p></p>

            </div>
            <div *ngIf="numberSlide == 3" id="contentSlide" class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1">
                        <i class="fa fa-heart"></i>
                        <strong> Lifestyle {{numberSlide}}</strong>
                    </h6>
                </a>
                <h4 class="mb-3">
                    <strong>Japan</strong>
                </h4>
                <p></p>
                <table>
                    <tr>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/maxresdefault.jpg);">
                            <!-- <img style="width: 100%" src="../../assets/images/maxresdefault.jpg" /> -->
                        </td>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/los_angeles___city_of_angels_wallpaper_by_eduard2009-db6v5x3.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/maxresdefault(1).jpg" />
                        </td>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/../../assets/images/which_california_city_should_you_live_in_featured.jpg)">
                            <!-- <img style="width: 100%" src="../../assets/images/which_california_city_should_you_live_in_featured.jpg" /> -->

                        </td>
                    </tr>
                </table>
                <p></p>

            </div>
            <div *ngIf="numberSlide == 4" id="contentSlide" class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1">
                        <i class="fa fa-heart"></i>
                        <strong> Lifestyle {{numberSlide}}</strong>
                    </h6>
                </a>
                <h4 class="mb-3">
                    <strong>Germany</strong>
                </h4>
                <p></p>
                <table>
                    <tr>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/maxresdefault.jpg);">
                            <!-- <img style="width: 100%" src="../../assets/images/maxresdefault.jpg" /> -->
                        </td>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/los_angeles___city_of_angels_wallpaper_by_eduard2009-db6v5x3.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <img style="width: 50%" src="../../assets/images/maxresdefault(1).jpg" />
                        </td>
                        <td style="width: 100% ;height: 150px; content:url(../../assets/images/../../assets/images/which_california_city_should_you_live_in_featured.jpg)">
                            <!-- <img style="width: 100%" src="../../assets/images/which_california_city_should_you_live_in_featured.jpg" /> -->

                        </td>
                    </tr>
                </table>
                <p></p>

            </div>
        </div>

        <!--Grid row-->

    </section>
    <!--Section: Gallery-->

    <hr class="my-5">

    <!--Section: Contact-->
    <section id="contact">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 col-md-12">

                <!-- Form contact -->
                <form class="p-5">

                    <div class="md-form form-sm">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="form3" class="form-control">
                        <label for="form3">Your name</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Your email</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input type="text" id="form32" class="form-control">
                        <label for="form34">Subject</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                        <label for="form8">Your message</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary">Send
                            <i class="fa fa-paper-plane-o ml-1"></i>
                        </button>
                    </div>

                </form>
                <!-- Form contact -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 col-md-12">

                <!--Grid row-->
                <div class="row text-center">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-3">

                        <p>
                            <i class="fa fa-map fa-1x mr-2 grey-text"></i>182/4, Long Thoi Str, Lai Thieu Ward, Thuan An Town, Binh Duong Province , VN </p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-3">

                        <p>
                            <i class="fa fa-building fa-1x mr-2 grey-text"></i>Mon - Fri, 8:00-22:00</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-3">

                        <p>
                            <i class="fa fa-phone fa-1x mr-2 grey-text"></i>+ 84 938 125 527</p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Google map-->
                <div id="map-container" class="z-depth-1-half map-container" style="height: 400px">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                            [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                            <agm-info-window>
                                <strong>InfoWindow content</strong>
                            </agm-info-window>

                        </agm-marker>

                        <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                        </agm-circle>

                    </agm-map>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Contact-->

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer center-on-small-only unique-color-dark pt-0">

    <!-- Social buttons -->
    <div class="primary-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5">
                    <h6 class="mb-0 white-text my-2">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-md-right">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook white-text mr-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic">
                        <i class="fa fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic">
                        <i class="fa fa-google-plus white-text mr-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="icons-sm li-ic">
                        <i class="fa fa-linkedin white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="icons-sm ins-ic">
                        <i class="fa fa-instagram white-text mr-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
                <h6 class="title font-bold">
                    <strong>Safa Express</strong>
                </h6>
                <hr class="red mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Provide Useful service for tranportation on the sky or on the sea</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r">
                <h6 class="title font-bold">
                    <strong>Services</strong>
                </h6>
                <hr class="red mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Air Express</a>
                </p>
                <p>
                    <a href="#!">Air Freight</a>
                </p>
                <p>
                    <a href="#!">Customs Brokerage</a>
                </p>
                <p>
                    <a href="#!">Sea Freight</a>
                </p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r">
                <h6 class="title font-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="red mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="title font-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="red mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> No. 150, Group 12, Huong Phuoc Hamlet, Phuoc Tan Commune, Bien Hoa City, Dong Nai Province .
                    <br> Second Address : 182/4, Long Thoi Str, Lai Thieu Ward, Thuan An Town, Binh Duong Province .</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>impex.dat2018@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 84 938 125 527 </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 84 1692 492 623</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright:
            <a href=""> HoangNam </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->